
		<hr>
		<footer>
			&copy; 2013
			{% if page.author == 'paul' %}
				<a href="https://plus.google.com/112891360493545273142?rel=author" rel="me" title="Find me on Google+">
					<img src="/assets/img/paul-king.png" width="48" height="48" alt="Paul King"> By Paul King
				</a>
			{% else %}
				<a href="https://plus.google.com/106485915637172175320?rel=author" rel="me" title="Find me on Google+">
					<img src="/assets/img/ash-gibson.png" width="48" height="48" alt="Ashleigh Gibson"> By Ashleigh Gibson
				</a>
			{% endif %}
		</footer>
	</div>
	<!-- Scripts -->
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/js/script.js"></script>
	{% for script in page.scripts %}
		<script type="text/javascript" src="{{ script }}"></script>
	{% endfor %}
	<!-- Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-42378768-1', 'become-a-representative.uk.com');
		ga('send', 'pageview');
	</script>
</body>
</html>