<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }} - AVON</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Author -->
	{% if page.author == 'paul' %}
		<link rel="author" href="https://plus.google.com/112891360493545273142/posts"/>
		<meta name="author" content="Paul King">
	{% else %}
		<link rel="author" href="https://plus.google.com/106485915637172175320/posts"/>
		<meta name="author" content="Ash Gibson">
	{% endif %}
	<!-- Styling -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/bootstrap-responsive.min.css">
	{% for style in page.styles %}
		<link rel="stylesheet" href="{{ style }}">
	{% endfor %}
	<!--[if lt IE 9]>
		<script src="/assets/js/html5shiv.js"></script>
	<![endif]-->
	<!-- Fav and touch icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144"	href="/assets/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114"	href="/assets/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72"		href="/assets/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed"					href="/assets/ico/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon"									href="/assets/ico/favicon.png">
</head>
<body>
	<!-- Navigation -->
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="/">AVON <span>Gals</span></a>
				<div class="nav-collapse collapse">
					<ul class="nav pull-right">
						<li {% if page.nav == 'home' %}    class="active" {% endif %}><a href="/">Home</a></li>
						<li {% if page.nav == 'rep' %}     class="active" {% endif %}><a href="/avon-representative.html">AVON Representative</a></li>
						<li {% if page.nav == 'leader' %}  class="active" {% endif %}><a href="/avon-sales-leader.html">AVON Sales Leader</a></li>
						<li {% if page.nav == 'success' %} class="active" {% endif %}><a href="/success-stories.html">Success Stories</a></li>
						<li {% if page.nav == 'about' %}   class="active" {% endif %}><a href="/about-us.html">About Us</a></li>
						<li {% if page.nav == 'blog' %}    class="active" {% endif %}><a href="{{ site.posts.first.url }}" title="{{ site.posts.first.title }}">Blog</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Container -->
	<div class="container">