<h2>Join AVON</h2>
<form action="http://avonconnects.us5.list-manage.com/subscribe/post?u=6f5864f0dc974bc9b87c18dae&amp;id=ce82e8765f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<input type="text"		name="FNAME"		class="input-block-level" placeholder="First Name *">
	<input type="text"		name="MMERGE2"		class="input-block-level" placeholder="Last Name *">
	<input type="text"		name="MMERGE3"		class="input-block-level" placeholder="Telephone *">
	<input type="email"		name="EMAIL"		class="input-block-level" placeholder="Email Address *">
	<input type="text"		name="MMERGE4"		class="input-block-level" placeholder="Address">
	<input type="text"		name="MMERGE5"		class="input-block-level" placeholder="Postcode">
	<input type="number"	name="MMERGE6"		class="input-block-level" placeholder="Age (must be 18+)">
	<input type="text"		name="MMERGE7"		class="input-block-level" placeholder="Where did you hear about us?">
	<button type="submit"	name="subscribe" class="input-block-level btn btn-primary">Send my details to a local sales rep</button>
</form>

<div class="well well-small">

<h4>Why join AVON?</h4>

<!--this needs to be a proper bulleted list-->
<p>
<i class="icon-ok"></i> AVON is the number one direct selling company in the world
</p>

<p>
<i class="icon-ok"></i> Make extra money
</p>

<p>
<i class="icon-ok"></i> Free brochures when you become an AVON representative
</p>

<p>
<i class="icon-ok"></i> Gain independence and confidence
</p>

<p>
<i class="icon-ok"></i> Meet new people
</p>

</div>

<h4>Contact us</h4>
<ul>
<li>Phone:(+44)7957570853</li>
<li>Email: <a href="mailto:ne1.representatives@gmail.com?Subject=AVON%20Query">ne1.representatives@gmail.com</a></li>
<li>Skype: <a href="callto://+441916451799">(+44)1916451799</a></li>
<li>Facebook: <a href="http://facebook.com/avonlasses">http://facebook.com/avonlasses</a></li>
</ul>