<h2>Join AVON</h2>
<form action="http://avonconnects.us5.list-manage.com/subscribe/post?u=6f5864f0dc974bc9b87c18dae&amp;id=ce82e8765f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<input type="text"		name="FNAME"		class="input-block-level" placeholder="First Name *">
	<input type="text"		name="MMERGE2"		class="input-block-level" placeholder="Last Name *">
	<input type="text"		name="MMERGE3"		class="input-block-level" placeholder="Telephone *">
	<input type="email"		name="EMAIL"		class="input-block-level" placeholder="Email Address *">
	<input type="text"		name="MMERGE4"		class="input-block-level" placeholder="Address">
	<input type="text"		name="MMERGE5"		class="input-block-level" placeholder="Postcode">
	<input type="number"	name="MMERGE6"		class="input-block-level" placeholder="Age (must be 18+)">
	<input type="text"		name="MMERGE7"		class="input-block-level" placeholder="Comments">
	<button type="submit"	name="subscribe" class="input-block-level btn btn-primary">Send my details to a local sales rep</button>
</form>